<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
<p>Hej <strong>{{name}}</strong>, velkommen til Hedia</p>
<p>Vi er utrolig glade for, at du har valgt at downloade Hedia. Du har lige taget det
  første skridt imod et nemmere og mere normalt liv med diabetes.</p>

<p>Hedia er udviklet til dig der gerne vil have kontrol over og indsigt i - din hverdag
  med diabetes – du får anbefalinger om insulin og kulhydratindtag, logbog og
  meget meget mere. Vi håber Hedia vil skabe ro i din hverdag og hjælpe dig på vej
  til et bedre liv med diabetes.</p>

<p>Jeg – Peter Lucas har selv type 1 diabetes og lever et liv med fuld fart på. Jeg har
  et ønske om at leve et så bekymringsfrit liv som muligt, uden at lade mig
  begrænse af min sygdom. Når du nu har hentet Hedia ned til din telefon, giver det
  mig et indtryk af, at du også ønsker et nemmere liv med diabetes.</p>

<p>Lad os sammen gøre livet med diabetes en hel del nemmere ☺</p>

<p>Hvis du har spørgsmål vedr. brugen af Hedia, så skriv endelig til os. Du kan fange
  os på hello@hedia.dk</p>

<p><a href="https://itunes.apple.com/dk/app/hedia-intelligent-diabetes-app/id1180896887?l=da&mt=8"><img src="cid:hedia_signature"/></a></p>

<a href="hediaApp://">Åben i appen</a>

<p>Bedste hilsner</p>

<p>Alle os i Hedia.</p>

</body>
</html>
