<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
<p>Hello <strong>{{name}}</strong>, welcome to Hedia</p>
<p>We are very pleased that you have chosen to download Hedia. You have just taken the first step
  towards an easier and more normal life with diabetes.</p>

<p>Hedia is designed for you who want control and insight into your daily life with diabetes - you get
recommendations on insulin and carbohydrate intake, logbook and much more. We hope Hedia will
bring peace to your daily life with diabetes.</p>

<p>I - Peter Lucas has type 1 diabetes myself and is living a life at full speed. I have the desire to live as
carefree as possible without being limited by my illness. Now that you have downloaded Hedia to your
phone, it gives me an impression that you also want an easier life with diabetes.</p>

<p>Let's make life with diabetes a lot easier ☺</p>

<p>If you have questions regarding the use of Hedia, you are more than welcome to write to us. You can
catch us at hello@hedia.dk</p>

<p><a href="https://itunes.apple.com/dk/app/hedia-intelligent-diabetes-app/id1180896887?l=en&mt=8"><img src="cid:hedia_signature"/></a></p>

<p><a href="hediaApp://">Open in app</a></p>

<p>Best wishes</p>

<p>All of us in Hedia.</p>

</body>
</html>
